<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Grade Report">
    <title>Grades!</title>
    
    <link rel="stylesheet" href="static/styles/pure.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/side-menu.css">

</head>
<body>

<div id="layout">

<!--     <div style = "float:left;padding-left:20px">
        <form action="/logout">
        <p>Welcome {{current_user.name}}!</p>
        <input type="submit" value="Logout"/>
        </form>
    </div> -->

    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="javascript:void(null);" onclick="window.location='/'+window.location.search;">360</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team1'+window.location.search;" class="pure-menu-link">Team 1</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team2'+window.location.search;" class="pure-menu-link">Team 2</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team3'+window.location.search;" class="pure-menu-link">Team 3</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team4'+window.location.search;" class="pure-menu-link">Team 4</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team5'+window.location.search;" class="pure-menu-link">Team 5</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team6'+window.location.search;" class="pure-menu-link">Team 6</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team8'+window.location.search;" class="pure-menu-link">Team 8</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team9'+window.location.search;" class="pure-menu-link">Team 9</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team10'+window.location.search;" class="pure-menu-link">Team 10</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/grades'+window.location.search;" class="pure-menu-link">Grades</a></li>

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header" style="position:relative;">
            <h1>Grade Summary</h1>
        </div>

        <div style = "float:left;position:relative;bottom:115px;left:20px;">
            <form action="/logout">
            <p>Welcome {{current_user.name}}!</p>
            <input type="submit" value="Logout"/>
            </form>
        </div>

        <div class="content">

            <table id = "gradeTable" style='position:relative;top:35px;left:50px;'>
              <tr>
                <th>Student</th>
                <th>Feedbacks Missed</th>
                <th>Overall Score</th>
                <th>Suggested Grade</th>
              </tr>
            </table>
            <script>
                var scores  = {{overall|tojson}}
                var table = document.getElementById("gradeTable");
                for(person in scores){
                    var tr = document.createElement('tr');
                    var td1 = document.createElement('td');
                    td1.innerHTML = person.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
                    var td2 = document.createElement('td');
                    td2.innerHTML = scores[person][2].toString();
                    var td3 = document.createElement('td');
                    td3.innerHTML = scores[person][1].toString();
                    var td4 = document.createElement('td');
                    td4.innerHTML = scores[person][0].toString();
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tr.appendChild(td4);
                    table.appendChild(tr);
                }
            </script>

            <script type="text/javascript">
                function selectElementContents(el) {
                    var body = document.body, range, sel;
                    if (document.createRange && window.getSelection) {
                        range = document.createRange();
                        sel = window.getSelection();
                        sel.removeAllRanges();
                        try {
                            range.selectNodeContents(el);
                            sel.addRange(range);
                        } catch (e) {
                            range.selectNode(el);
                            sel.addRange(range);
                        }
                    } else if (body.createTextRange) {
                        range = body.createTextRange();
                        range.moveToElementText(el);
                        range.select();
                    }
                    document.execCommand("Copy");
                }
                function clearSelection() {
                    if ( document.selection ) {
                        document.selection.empty();
                    } else if ( window.getSelection ) {
                        window.getSelection().removeAllRanges();
                    }
                }
            </script>

            <input type="button" value="Copy Table" style="position:relative;right:90px;bottom:1900px;"
               onclick="selectElementContents( document.getElementById('gradeTable') );clearSelection();">

        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/ui.js') }}"></script>

</body>
</html>