<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is an exclusive TA environment for reviewing team feedback.">
    <title>Welcome!</title>

    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>

    <link rel="stylesheet" href="../static/styles/pure.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/side-menu.css">
<!--     <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style> -->
</head>
<body>

<div id="layout">


<!--     <form onSubmit="return changeWeek()" id = "changeForm" style="float:right;padding-right:40px;padding-top:50px">
      <select onchange = "this.form.submit()" name="week">
        <option value="" selected disabled hidden id="current_week">Week</option>
        <option value="0">All</option>
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
      </select>
    </form> -->

<!--     <script>
    var url = new URL(window.location.href);
    var week = url.searchParams.get("week");
    var output;
    if(week==null){
        // could also do default week 1 or maximum week here.
        output = "Week";
    }
    else if(week==0){
        output = "All";
    }
    else{
        output = "Week " + week;
    }
    document.getElementById("current_week").innerHTML = output;
    </script> -->


    <div style = "float:left;padding-left:20px">
        <form action="/logout">
        <p>Welcome {{current_user.name}}!</p>
        <input type="submit" value="Logout"/>
        </form>
    </div>
    <!-- Menu toggle -->

    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="javascript:void(null);" onclick="window.location='/'+window.location.search;">360</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team1'+window.location.search;" class="pure-menu-link">Team 1</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team2'+window.location.search;" class="pure-menu-link">Team 2</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team3'+window.location.search;" class="pure-menu-link">Team 3</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 4</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 5</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 6</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 8</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 9</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 10</a></li>
                <!--  <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Team 3</a>
                </li> -->

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1 style="padding-right: 120px" id="studentName">Student</h1>
        </div>

        <div class="content">
            <div class="overall" style="position:relative;right:100px;7px;"> 
                <h2 id="average">Overall Score: </h2><h1 id = "studentOverall">N/A</h1>
            </div>
        
            <script>
                document.getElementById("studentName").innerHTML = {{student|tojson}};
                document.getElementById("studentOverall").innerHTML = {{score|tojson}};
            </script>

            <div style="width:100%;position:relative;bottom:180px;left:105px">
                <canvas id="canvas"></canvas>
            </div>

            <script>
                var config = {
                    type: 'line',
                    data: {
                        labels: ["10/22/2017","10/29/2017","11/5/2017","11/12/2017"],
                        datasets: [{
                            label: "Performance",
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: [
                                57,86,30,76
                            ],
                            fill: false,
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        title:{
                            display:true,
                            text:'Weekly Performance'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        elements:{
                            line:{
                                tension:0
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Week'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Score'
                                },
                                ticks:{
                                    suggestedMin:0,
                                    suggestedMax:100
                                }
                            }]
                        }
                    }
                };

                window.onload = function() {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myLine = new Chart(ctx, config);
                };

            </script>


        </div>

    </div>

</div>


<script src="{{ url_for('static',filename='js/ui.js') }}"></script>
</body>
</html>
