<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is an exclusive TA environment for reviewing team feedback.">
    <title>Welcome!</title>

    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>

    <link rel="stylesheet" href="static/styles/pure.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/side-menu.css">
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body>

<div id="layout">


    <form onSubmit="return changeWeek()" id = "changeForm" style="float:right;padding-right:40px;padding-top:50px">
      <select onchange = "this.form.submit()" name="week">
        <option value="" selected disabled hidden id="current_week">Week</option>
        <option value="0">All</option>
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
      </select>
    </form>

    <script>
    var url = new URL(window.location.href);
    var week = url.searchParams.get("week");
    var output;
    if(week==null){
        // could also do default week 1 or maximum week here.
        output = "Week";
    }
    else if(week==0){
        output = "All";
    }
    else{
        output = "Week " + week;
    }
    document.getElementById("current_week").innerHTML = output;
    </script>


    <div style = "float:left;padding-left:20px">
        <form action="/logout">
        <p>Welcome {{current_user.name}}!</p>
        <input type="submit" value="Logout"/>
        </form>
    </div>
    <!-- Menu toggle -->

    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="javascript:void(null);" onclick="window.location='/'+window.location.search;">360</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team1'+window.location.search;" class="pure-menu-link">Team 1</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team2'+window.location.search;" class="pure-menu-link">Team 2</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team3'+window.location.search;" class="pure-menu-link">Team 3</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 4</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 5</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 6</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 8</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 9</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 10</a></li>
                <!--  <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Team 3</a>
                </li> -->

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1 style="padding-right: 120px">Team 1</h1>
        </div>

        <div class="content">
<!--             <h1 class="content-subhead" id='TEST'>HERE IS THE TEAM'S INFO!</h1>
            <p id = 'TEST2'>It is week 1!</p>
            <script>
                document.getElementById("TEST").innerHTML = "HERE IS TEAM " + {{data[1][0]}} + "'S INFO!";
                document.getElementById("TEST2").innerHTML = "It is week " + {{week}} + '!';

            </script>
-->
            <div class="dropdown">
              <button class="dropbtn">Details</button>
              <div class="dropdown-content">
                <a href="/team1/andrew">Andrew</a>
                <a href="#">Judith</a>
                <a href="#">Palak</a>
                <a href="#">Cristofe</a>
                <a href="#">Dana</a>
              </div>
            </div>

            <div id="container" style="width: 95%;position:relative;">
                <canvas id="canvas"></canvas>
            </div>

            <script>
                var color = Chart.helpers.color;
                var barChartData = {
                    labels: {{ people|tojson }},
                    datasets: [{
                        label: 'Self Score',
                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.red,
                        borderWidth: 1,
                        data: [
                            99,
                            32,
                            45,
                            100,
                            68
                        ]
                    }, {
                        label: 'Peer Score',
                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.blue,
                        borderWidth: 1,
                        data: [
                            64,
                            97,
                            37,
                            40,
                            80
                        ]
                    }]

                };

                window.onload = function() {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        fontSize: 17
                                    }
                                }],
                                yAxes: [{
                                    ticks:{
                                        suggestedMin:0,
                                        suggestedMax:100
                                    }
                                }]
                                },
                            title: {
                                display: false,
                                text: 'Week ' + {{week}} + ' Scores'
                            }
                        }
                    });

                };

            </script>
        
        </div>
    </div>

</div>


<script src="{{ url_for('static',filename='js/ui.js') }}"></script>
</body>
</html>
