<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is an exclusive TA environment for reviewing team feedback.">
    <title>Welcome!</title>

    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>

    <link rel="stylesheet" href="static/styles/pure.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/side-menu.css">
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body>

<div id="layout">


    <form onSubmit="return changeWeek()" id = "changeForm" style="float:right;padding-right:40px;padding-top:50px">
      <select onchange = "this.form.submit()" name="week">
        <option value="" selected disabled hidden id="current_week">Week</option>
        <option value="0">All</option>
        <option value="1">Project</option>
        <option value="2">10-31</option>
        <option value="3">11-07</option>
        <option value="4">11-14</option>
        <option value="5">11-21</option>
      </select>
    </form>

    <script>
    var url = new URL(window.location.href);
    var week = {{current_week|tojson}};
    var weeks = {1:"Project",2:"10-31",3:"11-07",4:"11-14",5:"11-21"};
    var output;
    if(week==null){
        // could also do default week 1 or maximum week here.
        output = "Week";
    }
    else if(week==0){
        output = "All";
    }
    else{
        output = weeks[week];
    }
    document.getElementById("current_week").innerHTML = output;
    </script>


    <div style = "float:left;padding-left:20px">
        <form action="/logout">
        <p>Welcome {{current_user.name}}!</p>
        <input type="submit" value="Logout"/>
        </form>
    </div>
    <!-- Menu toggle -->

    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="javascript:void(null);" onclick="window.location='/'+window.location.search;">360</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team1'+window.location.search;" class="pure-menu-link">Team 1</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team2'+window.location.search;" class="pure-menu-link">Team 2</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team3'+window.location.search;" class="pure-menu-link">Team 3</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team4'+window.location.search;" class="pure-menu-link">Team 4</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team5'+window.location.search;" class="pure-menu-link">Team 5</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team6'+window.location.search;" class="pure-menu-link">Team 6</a></li>
<!--                 <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team7'+window.location.search;" class="pure-menu-link">Team 7</a></li> -->
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team8'+window.location.search;" class="pure-menu-link">Team 8</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team9'+window.location.search;" class="pure-menu-link">Team 9</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team10'+window.location.search;" class="pure-menu-link">Team 10</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/grades'+window.location.search;" class="pure-menu-link">Grades</a></li>
                <!--  <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Team 3</a>
                </li> -->

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1 style="padding-right: 120px" id="teamNumber">Team</h1>
        </div>

        <div class="content">
            {% block body %}
            {% if current_week=='0' %}
            {% if num_people == 5 %}
            <div id = "dynamicScores0" class="overall" style="position:relative;right:95px;top:55px;">
            </div>
            <div id = "dynamicScores1" class="overall" style="position:relative;right:95px;top:298px;">
            </div>
            <div id = "dynamicScores2" class="overall" style="position:relative;right:95px;top:541px;">
            </div>
            <div id = "dynamicScores3" class="overall" style="position:relative;right:95px;top:784px;">
            </div>
            <div id = "dynamicScores4" class="overall" style="position:relative;right:95px;top:1027px;">
            </div>
            
            {% else %}

            <div id = "dynamicScores0" class="overall" style="position:relative;right:95px;top:55px;">
            </div>
            <div id = "dynamicScores1" class="overall" style="position:relative;right:95px;top:298px;">
            </div>
            <div id = "dynamicScores2" class="overall" style="position:relative;right:95px;top:541px;">
            </div>
            <div id = "dynamicScores3" class="overall" style="position:relative;right:95px;top:784px;">
            </div>
            <div id = "dynamicScores4" class="overall" style="position:relative;right:95px;top:1027px;">
            </div>
            <div id = "dynamicScores5" class="overall" style="position:relative;right:95px;top:1270px;">
            </div>  
            {% endif %}
            <script>
                document.getElementById("teamNumber").innerHTML = "Team " + {{teamNumber|tojson}};
                var names = {{names|tojson}};
                var overall_scores = {{overall_scores|tojson}};
                for(i=0;i<names.length;i++){
                    var scoresDiv = document.getElementById("dynamicScores" + i);
                    var h1tag1 = document.createElement('h1');
                    // h1tag1.setAttribute('id','studentName');
                    h1tag1.id = "studentName";
                    h1tag1.innerHTML = "" + names[i];
                    var h2tag = document.createElement('h2');
                    h2tag.id = "average";
                    // h2tag.setAttribute('id','average');
                    h2tag.innerHTML = "Overall Score:";
                    var h1tag2 = document.createElement('h1');
                    h1tag2.id = "studentOverall";
                    // h1tag2.setAttribute = ('id','studentOverall');
                    h1tag2.innerHTML = "" + overall_scores[i];
                    scoresDiv.appendChild(h1tag1);
                    scoresDiv.appendChild(h2tag);
                    scoresDiv.appendChild(h1tag2);
                }
            </script>

            {% if num_people == 5 %}
            <div style="width:100%;position:relative;bottom:1150px;left:105px">
                <canvas id="canvas0"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1075px;left:105px">
                <canvas id="canvas1"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1000px;left:105px">
                <canvas id="canvas2"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:925px;left:105px">
                <canvas id="canvas3"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:850px;left:105px">
                <canvas id="canvas4"></canvas>
            </div>

            {% else %}

            <div style="width:100%;position:relative;bottom:1380px;left:105px">
                <canvas id="canvas0"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1305px;left:105px">
                <canvas id="canvas1"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1230px;left:105px">
                <canvas id="canvas2"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1155px;left:105px">
                <canvas id="canvas3"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1080px;left:105px">
                <canvas id="canvas4"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1005px;left:105px">
                <canvas id="canvas5"></canvas>
            </div>

            {% endif %}

            <script>
                var names = {{names|tojson}};
                var full_names = {{full_names|tojson}};
                var weeks = {{weeks_found|tojson}};
                var scores = {{scores|tojson}};
                var configs = [];
                for(i=0;i<full_names.length;i++){
                    var data = [];
                    for(j=0;j<weeks.length;j++){
                        if(full_names[i] in scores[weeks[j]] && 'others_rating' in scores[weeks[j]][full_names[i]]){
                            data.push(scores[weeks[j]][full_names[i]]['others_rating'][0]);
                        }else{
                            data.push(0);
                        }
                    }
                    configs.push({
                        type: 'line',
                        data: {
                            labels: weeks,
                            datasets: [{
                                label: "Performance",
                                backgroundColor: window.chartColors.red,
                                borderColor: window.chartColors.red,
                                data: data,
                                fill: false,
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            responsive: true,
                            title:{
                                display:false,
                                text:'Weekly Performance'
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            elements:{
                                line:{
                                    tension:0
                                }
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Week'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Score'
                                    },
                                    ticks:{
                                        suggestedMin:0,
                                        suggestedMax:100
                                    }
                                }]
                            }
                        }
                    });

                }

                window.onload = function(){
                    var ctxs = [];
                    for(i = 0; i < full_names.length; i++){
                        ctxs.push(document.getElementById("canvas"+i).getContext("2d"));
                        window.myLine = new Chart(ctxs[i],configs[i]);
                    }
                };

            </script>

            {% else %}


             <div id="container" style="width: 100%;position:relative;top:40px;">
                <canvas id="canvas"></canvas>
            </div>

            <script>
                var weeks = {1:"Project",2:"10-31",3:"11-07",4:"11-14",5:"11-21"};
                var color = Chart.helpers.color;
                var names = {{names|tojson}};
                var full_names = {{full_names|tojson}};
                var scores = {{scores|tojson}}
                var current_week = weeks[{{current_week|tojson}}];
                var self_data = [];
                var peer_data = [];
                for(i=0;i<full_names.length;i++){
                    if(full_names[i] in scores[current_week] && 'self_rating' in scores[current_week][full_names[i]]){
                        self_data.push(scores[current_week][full_names[i]]['self_rating']);
                    }else{
                        self_data.push(0);
                    }
                    if(full_names[i] in scores[current_week] && 'others_rating' in scores[current_week][full_names[i]]){
                        peer_data.push(scores[current_week][full_names[i]]['others_rating'][0]);
                    }else{
                        peer_data.push(0);
                    }
                }
                var barChartData = {
                    labels: names,
                    datasets: [{
                        label: 'Self Score',
                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.red,
                        borderWidth: 1,
                        data: self_data
                    }, {
                        label: 'Peer Score',
                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.blue,
                        borderWidth: 1,
                        data: peer_data
                    }]

                };

                window.onload = function() {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        fontSize: 17
                                    }
                                }],
                                yAxes: [{
                                    ticks:{
                                        suggestedMin:0,
                                        suggestedMax:100
                                    }
                                }]
                                },
                            title: {
                                display: false,
                                text: 'Week ' + {{current_week}} + ' Scores'
                            }
                        }
                    });

                };

            </script>
            {% endif %}
            {% endblock %}
        </div>
    </div>

</div>


<script src="{{ url_for('static',filename='js/ui.js') }}"></script>
</body>
</html>
