<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is an exclusive TA environment for reviewing team feedback.">
    <title>Welcome!</title>

    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>

    <link rel="stylesheet" href="static/styles/pure.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/side-menu.css">
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body>

<div id="layout">


    <form onSubmit="return changeWeek()" id = "changeForm" style="float:right;padding-right:40px;padding-top:50px">
      <select onchange = "this.form.submit()" name="week">
        <option value="" selected disabled hidden id="current_week">Week</option>
        <option value="0">All</option>
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
      </select>
    </form>

    <script>
    var url = new URL(window.location.href);
    var week = url.searchParams.get("week");
    var output;
    if(week==null){
        // could also do default week 1 or maximum week here.
        output = "Week";
    }
    else if(week==0){
        output = "All";
    }
    else{
        output = "Week " + week;
    }
    document.getElementById("current_week").innerHTML = output;
    </script>


    <div style = "float:left;padding-left:20px">
        <form action="/logout">
        <p>Welcome {{current_user.name}}!</p>
        <input type="submit" value="Logout"/>
        </form>
    </div>
    <!-- Menu toggle -->

    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="javascript:void(null);" onclick="window.location='/'+window.location.search;">360</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team1'+window.location.search;" class="pure-menu-link">Team 1</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team2'+window.location.search;" class="pure-menu-link">Team 2</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team3'+window.location.search;" class="pure-menu-link">Team 3</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 4</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 5</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 6</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 8</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 9</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 10</a></li>
                <!--  <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Team 3</a>
                </li> -->

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1 style="padding-right: 120px">Team 1</h1>
        </div>

        <div class="content">
            {% block body %}
            {% if week=='0' %}
            <div id = "dynamicScores0" class="overall" style="position:relative;right:100px;top:55px;">
            </div>
            <div id = "dynamicScores1" class="overall" style="position:relative;right:100px;top:298px;">
            </div>
            <div id = "dynamicScores2" class="overall" style="position:relative;right:100px;top:541px;">
            </div>
            <div id = "dynamicScores3" class="overall" style="position:relative;right:100px;top:784px;">
            </div>
            <div id = "dynamicScores4" class="overall" style="position:relative;right:100px;top:1027px;">
            </div>
            <div id = "dynamicScores5" class="overall" style="position:relative;right:100px;top:1270px;">
            </div>      
            <script>
                var people = {{people|tojson}};
                var scores = {{scores|tojson}};
                for(i=0;i<people.length;i++){
                    var scoresDiv = document.getElementById("dynamicScores" + i);
                    var h1tag1 = document.createElement('h1');
                    // h1tag1.setAttribute('id','studentName');
                    h1tag1.id = "studentName";
                    h1tag1.innerHTML = "" + people[i];
                    var h2tag = document.createElement('h2');
                    h2tag.id = "average";
                    // h2tag.setAttribute('id','average');
                    h2tag.innerHTML = "Overall Score:";
                    var h1tag2 = document.createElement('h1');
                    h1tag2.id = "studentOverall";
                    // h1tag2.setAttribute = ('id','studentOverall');
                    h1tag2.innerHTML = "" + scores[i];
                    scoresDiv.appendChild(h1tag1);
                    scoresDiv.appendChild(h2tag);
                    scoresDiv.appendChild(h1tag2);
                }
            </script>
            
            <div style="width:100%;position:relative;bottom:1150px;left:105px">
                <canvas id="canvas0"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1075px;left:105px">
                <canvas id="canvas1"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:1000px;left:105px">
                <canvas id="canvas2"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:925px;left:105px">
                <canvas id="canvas3"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:850px;left:105px">
                <canvas id="canvas4"></canvas>
            </div>
            <div style="width:100%;position:relative;bottom:775px;left:105px">
                <canvas id="canvas5"></canvas>
            </div>

            <script>
                var people = {{people|tojson}};
                var config = {
                    type: 'line',
                    data: {
                        labels: ["10/22/2017","10/29/2017","11/5/2017","11/12/2017"],
                        datasets: [{
                            label: "Performance",
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: [
                                57,86,30,76
                            ],
                            fill: false,
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        title:{
                            display:false,
                            text:'Weekly Performance'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        elements:{
                            line:{
                                tension:0
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Week'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Score'
                                },
                                ticks:{
                                    suggestedMin:0,
                                    suggestedMax:100
                                }
                            }]
                        }
                    }
                };

                window.onload = function(){
                    var ctxs = [];
                    for(i = 0; i < people.length; i++){
                        ctxs.push(document.getElementById("canvas"+i).getContext("2d"));
                        window.myLine = new Chart(ctxs[i],config);
                    }
                };

            </script>

            {% else %}

<!--             <div class="dropdown">
              <button class="dropbtn">Details</button>
              <div class="dropdown-content">
                <a href="/team1/andrew">Andrew</a>
                <a href="#">Judith</a>
                <a href="#">Palak</a>
                <a href="#">Cristofe</a>
                <a href="#">Dana</a>
              </div>
            </div> -->

             <div id="container" style="width: 100%;position:relative;top:40px;">
                <canvas id="canvas"></canvas>
            </div>

            <script>
                var color = Chart.helpers.color;
                var barChartData = {
                    labels: {{ people|tojson }},
                    datasets: [{
                        label: 'Self Score',
                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.red,
                        borderWidth: 1,
                        data: [
                            99,
                            32,
                            45,
                            100,
                            68
                        ]
                    }, {
                        label: 'Peer Score',
                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.blue,
                        borderWidth: 1,
                        data: [
                            64,
                            97,
                            37,
                            40,
                            80
                        ]
                    }]

                };

                window.onload = function() {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        fontSize: 17
                                    }
                                }],
                                yAxes: [{
                                    ticks:{
                                        suggestedMin:0,
                                        suggestedMax:100
                                    }
                                }]
                                },
                            title: {
                                display: false,
                                text: 'Week ' + {{week}} + ' Scores'
                            }
                        }
                    });

                };

            </script>
            {% endif %}
            {% endblock %}
        </div>
    </div>

</div>


<script src="{{ url_for('static',filename='js/ui.js') }}"></script>
</body>
</html>
