<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An example layout for the TA hub...">
    <title>Welcome!</title>

    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>

    <link rel="stylesheet" href="static/styles/pure.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/side-menu.css">
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body>

<div id="layout">


    <form onSubmit="return changeWeek()" id = "changeForm" style="float:right;padding-right:25px;padding-top:50px">
      <select onchange = "this.form.submit()" name="week">
        <option value="" selected disabled hidden id="current_week">Week</option>
        <option value="0">All</option>
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
      </select>
    </form>

    <script>
    var url = new URL(window.location.href);
    var week = url.searchParams.get("week");
    var output;
    if(week==null){
        // could also do default week 1 or maximum week here.
        output = "Week";
    }
    else if(week==0){
        output = "All";
    }
    else{
        output = "Week " + week;
    }
    document.getElementById("current_week").innerHTML = output;
    </script>


    <!-- Menu toggle -->

    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="javascript:void(null);" onclick="window.location='/'+window.location.search;">360</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team1'+window.location.search;" class="pure-menu-link">Team 1</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team2'+window.location.search;" class="pure-menu-link">Team 2</a></li>
                <li class="pure-menu-item"><a href="javascript:void(null);" onclick="window.location='/team3'+window.location.search;" class="pure-menu-link">Team 3</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 4</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 5</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 6</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 8</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 9</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Team 10</a></li>
                <!--  <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Team 3</a>
                </li> -->

            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header" style="padding-left: 40px">
            <h1>Team 1</h1>
        </div>

        <div class="content">
<!--             <h1 class="content-subhead" id='TEST'>HERE IS THE TEAM'S INFO!</h1>
            <p id = 'TEST2'>It is week 1!</p>
            <script>
                document.getElementById("TEST").innerHTML = "HERE IS TEAM " + {{data[1][0]}} + "'S INFO!";
                document.getElementById("TEST2").innerHTML = "It is week " + {{week}} + '!';

            </script>

            <center><img src="https://pwgtraining.co.uk/wp-content/uploads/2016/10/PWG-360-degrees-reviews-300x225.png" align="middle"></center> -->

            <div id="container" style="width: 93%;padding-top: 25px">
                <canvas id="canvas"></canvas>
            </div>
 <!--            <button id="randomizeData">Randomize Data</button>
            <button id="addDataset">Add Dataset</button>
            <button id="removeDataset">Remove Dataset</button>
            <button id="addData">Add Data</button>
            <button id="removeData">Remove Data</button> -->
            <script>
                // var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                var color = Chart.helpers.color;
                var barChartData = {
                    labels: {{ people|tojson }},
                    datasets: [{
                        label: 'Self Score',
                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.red,
                        borderWidth: 1,
                        data: [
                            99,
                            32,
                            45,
                            100,
                            68,
                            0
                        ]
                    }, {
                        label: 'Peer Score',
                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.blue,
                        borderWidth: 1,
                        data: [
                            64,
                            97,
                            37,
                            40,
                            80,
                            0
                        ]
                    }]

                };

                window.onload = function() {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: false,
                                text: 'Week ' + {{week}} + ' Scores'
                            }
                        }
                    });

                };

                // document.getElementById('randomizeData').addEventListener('click', function() {
                //     var zero = Math.random() < 0.2 ? true : false;
                //     barChartData.datasets.forEach(function(dataset) {
                //         dataset.data = dataset.data.map(function() {
                //             return zero ? 0.0 : randomScalingFactor();
                //         });

                //     });
                //     window.myBar.update();
                // });

                var colorNames = Object.keys(window.chartColors);
                document.getElementById('addDataset').addEventListener('click', function() {
                    var colorName = colorNames[barChartData.datasets.length % colorNames.length];;
                    var dsColor = window.chartColors[colorName];
                    var newDataset = {
                        label: 'Dataset ' + barChartData.datasets.length,
                        backgroundColor: color(dsColor).alpha(0.5).rgbString(),
                        borderColor: dsColor,
                        borderWidth: 1,
                        data: []
                    };

                    for (var index = 0; index < barChartData.labels.length; ++index) {
                        newDataset.data.push(randomScalingFactor());
                    }

                    barChartData.datasets.push(newDataset);
                    window.myBar.update();
                });

                // document.getElementById('addData').addEventListener('click', function() {
                //     if (barChartData.datasets.length > 0) {
                //         var month = MONTHS[barChartData.labels.length % MONTHS.length];
                //         barChartData.labels.push(month);

                //         for (var index = 0; index < barChartData.datasets.length; ++index) {
                //             //window.myBar.addData(randomScalingFactor(), index);
                //             barChartData.datasets[index].data.push(randomScalingFactor());
                //         }

                //         window.myBar.update();
                //     }
                // });

                // document.getElementById('removeDataset').addEventListener('click', function() {
                //     barChartData.datasets.splice(0, 1);
                //     window.myBar.update();
                // });

                // document.getElementById('removeData').addEventListener('click', function() {
                //     barChartData.labels.splice(-1, 1); // remove the label first

                //     barChartData.datasets.forEach(function(dataset, datasetIndex) {
                //         dataset.data.pop();
                //     });

                //     window.myBar.update();
                // });
            </script>
        
        </div>
    </div>

</div>


<script src="{{ url_for('static',filename='js/ui.js') }}"></script><!-- 
<script src="http://www.chartjs.org/dist/2.7.0/Chart.bundle.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script> -->
</body>
</html>
